{% extends 'Proiect/layout.html' %}

{% block head %}
   <h1>Edit user profile</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Edit Profile</h4>
                </div>
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn btn-primary" type="submit" value="Send"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
