<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-3.3.7/dist/css/bootstrap.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static '/betx.css' %}">
	<title>Sign Up</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
				<div class="card">
					<form method='POST' action=''> {% csrf_token %}
						{{form.as_p}}

						<input class="btn btn-danger" type="submit" name="">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
