{% extends 'Proiect/layout.html' %}

{% block head %}
  <h1>User profile</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Edit Profile</h4>
                </div>
                <form>
                    <div class="form-group">
                        <span> First name: <label><b>{{ user_profile.first_name }}</b> </label></span>
                        <span> Last name: <label><b>{{ user_profile.last_name }}</b> </label></span>
                        <span> Birthday: <label><b>{{ user_profile.birthday }}</b></label></span>
                        <span> Sex:  <label><b>{{ user_profile.sex }}</b></label></span>
                        <a class="btn btn-primary" href="{% url 'edit_profile' user_profile.pk %}">Edit</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


  <h2>Istoric pronosticuri</h2>
  <ul>
    {% for pronostic in pronostics %}
        <li>
        Pronostic : 
        <a href="{% url 'pronosticuri' pronostic.match.pk %}">{{pronostic.pronostic_text}}</a>
        pentru meciul : 
        <a href="{% url 'pronosticuri' pronostic.match.pk %}">{{pronostic.match.subject}}</a>
        <ul>
     
        	 {% for comment in pronostic.comments.all %}
       		 <li>
       		 Comentariu: 
        		{{comment.comment_text}}
      		  </li>
    		{% endfor %}
    	</ul>
     	</li>
    {% endfor %}
    </ul>

     <h2>Istoric comentarii</h2>
  <ul>
    {% for pronostic in pronostics %}

     
        	{% for comment in pronostic.comments.all %}
    		{% if comment.author == request.user %}
       		<li>
       		Comentariu: 
        		{{comment.comment_text}}
        		
      		</li>
      		{% endif %}
    		{% endfor %}
     
    {% endfor %}
    </ul>
    	
{% endblock %}
