{% extends 'Proiect/layout.html' %}

{% block head %}
  <h1>User profile</h1>
{% endblock %}

{% block content %}
  <div class="user-details">
    <span> First name: <b>{{ user_profile.first_name }}</b> </span>
    <span> Last name: <b>{{ user_profile.last_name }}</b> </span>
    <span> Birthday: <b>{{ user_profile.birthday }}</b> <br> </span>
    <span> Sex: <b>{{ user_profile.sex }}</b> </span>
  </div>
  <a class="button" href="{% url 'edit_profile' user_profile.pk %}">Edit</a>
  <h2>Istoric pronosticuri</h2>
  <ul>
    {% for pronostic in pronostics %}
        <li>
        Pronostic : 
        <a href="{% url 'pronosticuri' pronostic.match.pk %}">{{pronostic.pronostic_text}}</a>
        pentru meciul : 
        <a href="{% url 'pronosticuri' pronostic.match.pk %}">{{pronostic.match.subject}}</a>
        <ul>
     
        	 {% for comment in pronostic.comments.all %}
       		 <li>
       		 Comentariu: 
        		{{comment.comment_text}}
      		  </li>
    		{% endfor %}
    	</ul>
     	</li>
    {% endfor %}
    </ul>

     <h2>Istoric comentarii</h2>
  <ul>
    {% for pronostic in pronostics %}

     
        	{% for comment in pronostic.comments.all %}
    		{% if comment.author == request.user %}
       		<li>
       		Comentariu: 
        		{{comment.comment_text}}
        		
      		</li>
      		{% endif %}
    		{% endfor %}
     
    {% endfor %}
    </ul>
    	
{% endblock %}
